<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Todo List</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/img/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
        <style>
            *{
                background-color: antiquewhite;
                font-family: sans-serif;
            }
            h1{
                font-size: xx-large;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Todo Manager</h1>
    </body>
</html>
